/* You can add global styles to this file, and also import other style files */

body {
  font-family: Helvetica, sans-serif;
  color: #333;
}

nav {
  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    text-align: center;
    min-width: 6em;
    padding: 0.5em;
    margin: 0.25em;
    background-color: #ddd;

    &:hover, &.active {
      background-color: lighten(#ddd, 5%);
    }

    &.active {
      font-weight: bold;
    }
  }
}
